
body{
  background-color: #131421;
}

/*header*/
.header{
  height: 750px;
  background-image: url(../images/BG.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ajuste{
  padding-top: 45px;
}


/*header*/


#preguntas h3{
  font-size: 38px;
}

.container{
  margin-top: auto;
  margin-bottom: auto;
  padding: 35px;
}

#preguntas .container{
  background-color: #e8e8e8;
}

#info .container{
  background-color: white;
}

#info2 .container{
  background-color: white;
}

#razones .container{
  background-color: white;
}


#ricardo .container{
  background-color: #e8e8e8;
  padding-right: 80px;

}

#preguntas h3 {
font-size: 40px;
}

.signo{
  color: #c62828;
  font-weight: bold;

}

#info2 p{
  font-size: 18px;
}

/*Responsive*/

@media (max-width: 1550px) {
  .container {
    width: 80%;
  }

}

@media (max-width: 1300px) {

  #preguntas h3 {
  font-size: 30px;
  }

  #info2 h3 {
  font-size: 30px;
  }


  #ricardo img{
    width: 200px;
  }

}

@media (max-width: 992px) {
  h2 {
    font-size: 40px;
  }

  #preguntas h3 {
  font-size: 27px;
  }

  #info2 h3 {
  font-size: 27px;
  }

  #razones h4 {
  font-size: 25px;
  }

   #razones .collection{
    font-size: 20px;
  }

  .valign-wrapper{
  display: inherit;
  }

#preguntas img{
  width: 180px;
}

#ricardo .container{
  padding-right: 35px;

}

}

@media (max-width: 600px) {
  #ricardo img{
    width: 160px;
  }

  #razones .container{
    padding-left: 15px;
    padding-right: 15px;
  }

  #info2 .container{
    padding-left: 10px;
    padding-right: 10px;
  }

}

@media (max-width: 400px) {
  h2 {
    font-size: 35px;
  }
  #preguntas img{
    margin-left: -10px;
    width: 160px;
  }


}


/*Responsive*/

.boton{
  font-size: 20px;
}

.collection{
  font-size: 24px;
}


.tipo{

  border-color: #e57373;
  border: solid;
}

.clientes {
  margin-top: 100px;
  margin-bottom: 100px;
}

.titulo {
  padding-top: 30px;
  padding-bottom: 30px;
}






/*aweber*/

<!-- AWeber Web Form Generator 3.0.1 -->
<style type="text/css">
#af-form-2064117333 .af-body .af-textWrap{width:98%;display:block;float:none;}
#af-form-2064117333 .af-body a{color:#CCCCCC;text-decoration:underline;font-style:normal;font-weight:normal;}
#af-form-2064117333 .af-body input.text, #af-form-2064117333 .af-body textarea{background-color:#FFFFFF;border-color:#D9D9D9;border-width:1px;border-style:solid;color:#000000;text-decoration:none;font-style:normal;font-weight:normal;font-size:24px;font-family:Trebuchet MS, sans-serif;}
#af-form-2064117333 .af-body input.text:focus, #af-form-2064117333 .af-body textarea:focus{background-color:#FFFAD6;border-color:#030303;border-width:1px;border-style:solid;}
#af-form-2064117333 .af-body label.previewLabel{display:block;float:none;text-align:left;width:auto;color:#FFFFFF;text-decoration:none;font-style:normal;font-weight:normal;font-size:24px;font-family:Helvetica, sans-serif;}
#af-form-2064117333 .af-body{padding-bottom:27px;padding-top:27px;background-repeat:no-repeat;background-position:inherit;background-image:none;color:#CCCCCC;font-size:11px;font-family:Verdana, sans-serif;}
#af-form-2064117333 .af-header{padding-bottom:9px;padding-top:9px;padding-right:10px;padding-left:10px;background-color:transparent;background-repeat:no-repeat;background-position:inherit;background-image:none;border-width:1px;border-bottom-style:none;border-left-style:none;border-right-style:none;border-top-style:none;color:#CCCCCC;font-size:16px;font-family:Verdana, sans-serif;}
#af-form-2064117333 .af-quirksMode .bodyText{padding-top:2px;padding-bottom:2px;}
#af-form-2064117333 .af-quirksMode{padding-right:13px;padding-left:13px;}
#af-form-2064117333 .af-standards .af-element{padding-right:13px;padding-left:13px;}
#af-form-2064117333 .bodyText p{margin:1em 0;}
#af-form-2064117333 .buttonContainer input.submit{background-image:url("https://forms.aweber.com/images/auto/gradient/button/07c.png");background-position:top left;background-repeat:repeat-x;background-color:#0057ac;border:1px solid #0057ac;color:#FFFFFF;text-decoration:none;font-style:normal;font-weight:normal;font-size:24px;font-family:Helvetica, sans-serif;}
#af-form-2064117333 .buttonContainer input.submit{width:auto;}
#af-form-2064117333 .buttonContainer{text-align:center;}
#af-form-2064117333 body,#af-form-2064117333 dl,#af-form-2064117333 dt,#af-form-2064117333 dd,#af-form-2064117333 h1,#af-form-2064117333 h2,#af-form-2064117333 h3,#af-form-2064117333 h4,#af-form-2064117333 h5,#af-form-2064117333 h6,#af-form-2064117333 pre,#af-form-2064117333 code,#af-form-2064117333 fieldset,#af-form-2064117333 legend,#af-form-2064117333 blockquote,#af-form-2064117333 th,#af-form-2064117333 td{float:none;color:inherit;position:static;margin:0;padding:0;}
#af-form-2064117333 button,#af-form-2064117333 input,#af-form-2064117333 submit,#af-form-2064117333 textarea,#af-form-2064117333 select,#af-form-2064117333 label,#af-form-2064117333 optgroup,#af-form-2064117333 option{float:none;position:static;margin:0;}
#af-form-2064117333 div{margin:0;}
#af-form-2064117333 fieldset{border:0;}
#af-form-2064117333 form,#af-form-2064117333 textarea,.af-form-wrapper,.af-form-close-button,#af-form-2064117333 img{float:none;color:inherit;position:static;background-color:none;border:none;margin:0;padding:0;}
#af-form-2064117333 input,#af-form-2064117333 button,#af-form-2064117333 textarea,#af-form-2064117333 select{font-size:100%;}
#af-form-2064117333 p{color:inherit;}
#af-form-2064117333 select,#af-form-2064117333 label,#af-form-2064117333 optgroup,#af-form-2064117333 option{padding:0;}
#af-form-2064117333 table{border-collapse:collapse;border-spacing:0;}
#af-form-2064117333 ul,#af-form-2064117333 ol{list-style-image:none;list-style-position:outside;list-style-type:disc;padding-left:40px;}
#af-form-2064117333,#af-form-2064117333 .quirksMode{width:100%;max-width:379px;}
#af-form-2064117333.af-quirksMode{overflow-x:hidden;}
#af-form-2064117333{background-color:transparent;border-color:#CFCFCF;border-width:1px;border-style:none;}
#af-form-2064117333{display:block;}
#af-form-2064117333{overflow:hidden;}
.af-body .af-textWrap{text-align:left;}
.af-body input.image{border:none!important;}
.af-body input.submit,.af-body input.image,.af-form .af-element input.button{float:none!important;}
.af-body input.text{width:100%;float:none;padding:2px!important;}
.af-body.af-standards input.submit{padding:4px 12px;}
.af-clear{clear:both;}
.af-element label{text-align:left;display:block;float:left;}
.af-element{padding-bottom:5px;padding-top:5px;}
.af-form-wrapper{text-indent:0;}
.af-form{text-align:left;margin:auto;}
.af-header{margin-bottom:0;margin-top:0;padding:10px;}
.af-quirksMode .af-element{padding-left:0!important;padding-right:0!important;}
.lbl-right .af-element label{text-align:right;}
body {
}

</style>
